<h1>Componente de coches</h1>

<form #formCoche="ngForm" (ngSubmit)="onSubmit();formCoche.reset()">
  <label>Nombre: </label> <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="coche.nombre" required>
  <span *ngIf="nombre.touched && !nombre.valid">
    El nombre del coche es incorrecto
  </span>
  <br />
  <label>Caballaje: </label> <input type="text" name="caballaje" #caballaje="ngModel" [(ngModel)]="coche.caballaje" required> <br />
  <label>Color: </label> <input type="text" name="color" #color="ngModel" [(ngModel)]="coche.color" required> <br />
  <button type="submit"  [disabled]="!formCoche.form.valid">Guardar</button>
</form>
<h4 *ngIf="coches.length > 0">Listado de coches</h4>
<ul *ngFor="let c of coches">
  <li>{{ c.nombre }} - {{ c.caballaje }} - {{ c.color }}</li>

</ul>
<h3>Listado de articulo</h3>
<ul *ngIf="articulos">
  <li *ngFor="let a of articulos; let i = index">{{ (i + 1) }}.- {{ a.title }}</li>
</ul>
<span *ngIf="!articulos">Cargando listado......</span>
